/* table class="jellybean" */
body {
  font-family: arial, helvetica;
}

table {
  margin: 2em auto;
  width: 80%;
}

table.cookies {
  background: #444;
border: 10px solid #4ABDAC;
empty-cells: hide;
}
table.cookies td {
padding: 10px;
border-radius: 15px;
border: 1px solid black;
background: white;
}
table.cookies th {
background-color: #F7B733;
color: #76323F;
}

table.excel {
  background:#fff;
  font-size:18px;
}
table.excel tr:first-child {
background:#ccc;
}

table.excel th {
  border:1px solid rgba(221, 221, 221, 0.42);
  font-size:1.5em;
  padding:.5em 1.5em;
}

.float {
  float: left;
  width: 20%;
}

.center { 

    margin-left: auto;
    margin-right: auto; 
    display: block; 
  }