* {
	font-family: 'Montserrat', sans-serif;
}

.float {
  float: left;
  width: 20%;
}

.center { 

    margin-left: auto;
    margin-right: auto; 
    display: block; 
  }
 
  body {
    background-color: salmon;
}

h1, h2, legend, label {
  color: white;
  
}

table {
	border: 10px solid #4ABDAC;
	empty-cells: hide;
}

td {
	padding: 10px;
	border-radius: 15px;
  border: 1px solid black;
  background: white;
}

th {
	background-color: #F7B733;
	color: #76323F;
}

